# Парсинг

In [4]:
import requests      # Библиотека для отправки запросов
import numpy as np   # Библиотека для матриц, векторов и линала
import pandas as pd  # Библиотека для табличек
import time          # Библиотека для тайм-менеджмента
from bs4 import BeautifulSoup

! pip install fake-useragent

from fake_useragent import UserAgent
UserAgent().chrome

In [132]:
# данные по доллару США

# получим доступ к сайту ЦБ
url_USD = 'https://cbr.ru/currency_base/dynamics/?UniDbQuery.Posted=True&UniDbQuery.so=1&UniDbQuery.mode=1&UniDbQuery.date_req1=&UniDbQuery.date_req2=&UniDbQuery.VAL_NM_RQ=R01235&UniDbQuery.From=15.05.2015&UniDbQuery.To=15.05.2023'
otvet_USD = requests.get(url_USD, headers = {'User-Agent': UserAgent().chrome})

# распарсим страничку в дерево 
derevo_USD = BeautifulSoup(otvet_USD.content, 'html.parser')

# найдём нужную часть информации сайта
sth_USD = derevo_USD.find_all('td')

# сделаем список с курсом USD
rates_USD = []
dates_USD = []

for i in range(3, len(sth_USD), 3):
    rates_USD.append(sth_USD[i].text)
    
for i in range(1, len(sth_USD), 3):
    dates_USD.append(sth_USD[i].text)
    
print(rates_USD[:10], dates_USD[:10])

['77,2041', '75,8846', '76,6929', '76,8207', '78,6139', '79,3071', '79,9609', '80,5093', '81,5601', '81,6274'] ['13.05.2023', '12.05.2023', '11.05.2023', '06.05.2023', '05.05.2023', '04.05.2023', '03.05.2023', '29.04.2023', '28.04.2023', '27.04.2023']

In [136]:
# получим доступ к сайту ЦБ
url_EUR = 'https://cbr.ru/currency_base/dynamics/?UniDbQuery.Posted=True&UniDbQuery.so=1&UniDbQuery.mode=1&UniDbQuery.date_req1=&UniDbQuery.date_req2=&UniDbQuery.VAL_NM_RQ=R01239&UniDbQuery.From=15.05.2015&UniDbQuery.To=15.05.2023'
otvet_EUR = requests.get(url_EUR)

# распарсим страничку в дерево 
derevo_EUR = BeautifulSoup(otvet_EUR.content, 'html.parser')

# найдём нужную часть информации сайта
sth_EUR = derevo_EUR.find_all('td')

# сделаем список с курсом EUR
rates_EUR = []
dates_EUR = []

for i in range(3, len(sth_EUR), 3):
    rates_EUR.append(sth_EUR[i].text)
    
for i in range(1, len(sth_EUR), 3):    
    dates_EUR.append(sth_EUR[i].text)
    
print(rates_EUR[:10], dates_EUR[:10])

['84,2500', '82,8877', '84,1498', '84,9073', '86,9986', '87,5750', '87,6556', '88,3712', '90,2023', '90,1436'] ['13.05.2023', '12.05.2023', '11.05.2023', '06.05.2023', '05.05.2023', '04.05.2023', '03.05.2023', '29.04.2023', '28.04.2023', '27.04.2023']

In [137]:
# получим доступ к сайту ЦБ
url_GBP = 'https://cbr.ru/currency_base/dynamics/?UniDbQuery.Posted=True&UniDbQuery.so=1&UniDbQuery.mode=1&UniDbQuery.date_req1=&UniDbQuery.date_req2=&UniDbQuery.VAL_NM_RQ=R01035&UniDbQuery.From=15.05.2015&UniDbQuery.To=15.05.2023'
otvet_GBP = requests.get(url_GBP, headers = {'User-Agent': UserAgent().chrome})

# распарсим страничку в дерево 
derevo_GBP = BeautifulSoup(otvet_GBP.content, 'html.parser')

# найдём нужную часть информации сайта
sth_GBP = derevo_GBP.find_all('td')

# сделаем список с курсом GBP
rates_GBP = []
dates_GBP = []

for i in range(3, len(sth_GBP), 3):
    rates_GBP.append(sth_GBP[i].text)
    
for i in range(1, len(sth_GBP), 3):    
    dates_GBP.append(sth_GBP[i].text)
    
print(rates_GBP[:10], dates_GBP[:10])

['96,6827', '95,7512', '96,7251', '96,5790', '98,5268', '98,9118', '100,4789', '100,5883', '101,7218', '101,2343'] ['13.05.2023', '12.05.2023', '11.05.2023', '06.05.2023', '05.05.2023', '04.05.2023', '03.05.2023', '29.04.2023', '28.04.2023', '27.04.2023']

In [119]:
# получим доступ к сайту ЦБ
url_CNY = 'https://cbr.ru/currency_base/dynamics/?UniDbQuery.Posted=True&UniDbQuery.so=1&UniDbQuery.mode=1&UniDbQuery.date_req1=&UniDbQuery.date_req2=&UniDbQuery.VAL_NM_RQ=R01375&UniDbQuery.From=15.05.2015&UniDbQuery.To=15.05.2023'
otvet_CNY = requests.get(url_CNY, headers = {'User-Agent': UserAgent().chrome})

# распарсим страничку в дерево 
derevo_CNY = BeautifulSoup(otvet_CNY.content, 'html.parser')

# найдём нужную часть информации сайта
sth_CNY = derevo_CNY.find_all('td')

# сделаем список с курсом CNY
rates_CNY = []
dates_CNY = []

for i in range(3, len(sth_CNY), 3):
    rates_CNY.append(sth_CNY[i].text)
    
for i in range(1, len(sth_CNY), 3):    
    dates_CNY.append(sth_CNY[i].text)
    
print(rates_CNY[:10], dates_CNY[:10])

['11,0844', '10,9119', '11,0390', '11,1158', '11,3488', '11,4456', '11,4884', '11,5659', '11,7609', '11,7626'] ['13.05.2023', '12.05.2023', '11.05.2023', '06.05.2023', '05.05.2023', '04.05.2023', '03.05.2023', '29.04.2023', '28.04.2023', '27.04.2023']

In [120]:
# получим доступ к сайту ЦБ
url_JPY = 'https://cbr.ru/currency_base/dynamics/?UniDbQuery.Posted=True&UniDbQuery.so=1&UniDbQuery.mode=1&UniDbQuery.date_req1=&UniDbQuery.date_req2=&UniDbQuery.VAL_NM_RQ=R01820&UniDbQuery.From=15.05.2015&UniDbQuery.To=15.05.2023'
otvet_JPY = requests.get(url_JPY, headers = {'User-Agent': UserAgent().chrome})

# распарсим страничку в дерево 
derevo_JPY = BeautifulSoup(otvet_JPY.content, 'html.parser')

# найдём нужную часть информации сайта
sth_JPY = derevo_JPY.find_all('td')

# сделаем список с курсом CNY
rates_JPY = []
dates_JPY = []

for i in range(3, len(sth_JPY), 3):
    rates_JPY.append(sth_JPY[i].text)
    
for i in range(1, len(sth_JPY), 3):    
    dates_JPY.append(sth_JPY[i].text)
    
print(rates_JPY[:10], dates_JPY[:10])

['57,3795', '56,5881', '56,7465', '55,8615', '57,1654', '57,6695', '58,1449', '60,0592', '61,0160', '61,0344'] ['13.05.2023', '12.05.2023', '11.05.2023', '06.05.2023', '05.05.2023', '04.05.2023', '03.05.2023', '29.04.2023', '28.04.2023', '27.04.2023']

In [143]:
# получим доступ к сайту ЦБ
url_key = 'https://cbr.ru/hd_base/KeyRate/?UniDbQuery.Posted=True&UniDbQuery.From=15.05.2015&UniDbQuery.To=15.05.2023'
otvet_key = requests.get(url_key, headers = {'User-Agent': UserAgent().chrome})

# распарсим страничку в дерево 
derevo_key = BeautifulSoup(otvet_key.content, 'html.parser')

# найдём нужную часть информации сайта
sth_key = derevo_key.find_all('td')

# сделаем список с ключевой ставкой
rates_key = []
dates_key = []

for i in range(1, len(sth_key), 2):
    rates_key.append(sth_key[i].text)
    
for i in range(0, len(sth_key), 2):    
    dates_key.append(sth_key[i].text)
    
print(rates_key[:10], dates_key[:10])

['7,50', '7,50', '7,50', '7,50', '7,50', '7,50', '7,50', '7,50', '7,50', '7,50'] ['15.05.2023', '12.05.2023', '11.05.2023', '10.05.2023', '08.05.2023', '05.05.2023', '04.05.2023', '03.05.2023', '02.05.2023', '28.04.2023']

In [146]:
# упакуем все данные в датафрейм
rates = pd.DataFrame({'Дата': dates_USD, 
                      'Доллар США': rates_USD, 
                      'Евро': rates_EUR,
                      'Фунт стерлингов': rates_GBP,
                      'Китайский юань': rates_CNY,
                      'Японская йена': rates_JPY})
rates

,Дата,Доллар США,Евро,Фунт стерлингов,Китайский юань,Японская йена
0,13.05.2023,"77,2041","84,2500","96,6827","11,0844","57,3795"
1,12.05.2023,"75,8846","82,8877","95,7512","10,9119","56,5881"
2,11.05.2023,"76,6929","84,1498","96,7251","11,0390","56,7465"
3,06.05.2023,"76,8207","84,9073","96,5790","11,1158","55,8615"
4,05.05.2023,"78,6139","86,9986","98,5268","11,3488","57,1654"
...,...,...,...,...,...,...
1968,21.05.2015,"49,7919","55,2441","77,1774","80,2603","41,1622"
1969,20.05.2015,"49,1777","55,1085","76,5943","79,2307","40,9797"
1970,19.05.2015,"49,2175","56,1030","77,0992","79,3280","41,1260"
1971,16.05.2015,"50,0115","56,9881","78,8431","80,5805","41,8436"
1972,15.05.2015,"50,0774","57,1383","78,9420","80,7505","42,0148"

In [147]:
key = pd.DataFrame({'Ключевая ставка': rates_key,
                    'Дата ставки': dates_key})
key

     Ключевая ставка Дата ставки
0               7,50  15.05.2023
1               7,50  12.05.2023
2               7,50  11.05.2023
3               7,50  10.05.2023
4               7,50  08.05.2023
...              ...         ...
1995           12,50  21.05.2015
1996           12,50  20.05.2015
1997           12,50  19.05.2015
1998           12,50  18.05.2015
1999           12,50  15.05.2015

[2000 rows x 2 columns]

In [152]:
df = pd.merge(rates, key, left_on = 'Дата', right_on = 'Дата ставки', how = 'inner')
df.drop(columns = ['Дата ставки'], inplace = True)
df

,Дата,Доллар США,Евро,Фунт стерлингов,Китайский юань,Японская йена,Ключевая ставка
0,12.05.2023,"75,8846","82,8877","95,7512","10,9119","56,5881","7,50"
1,11.05.2023,"76,6929","84,1498","96,7251","11,0390","56,7465","7,50"
2,05.05.2023,"78,6139","86,9986","98,5268","11,3488","57,1654","7,50"
3,04.05.2023,"79,3071","87,5750","98,9118","11,4456","57,6695","7,50"
4,03.05.2023,"79,9609","87,6556","100,4789","11,4884","58,1449","7,50"
...,...,...,...,...,...,...,...
1551,22.05.2015,"49,9204","55,5714","77,8858","80,5584","41,2924","12,50"
1552,21.05.2015,"49,7919","55,2441","77,1774","80,2603","41,1622","12,50"
1553,20.05.2015,"49,1777","55,1085","76,5943","79,2307","40,9797","12,50"
1554,19.05.2015,"49,2175","56,1030","77,0992","79,3280","41,1260","12,50"
1555,15.05.2015,"50,0774","57,1383","78,9420","80,7505","42,0148","12,50"

# Предобработка

In [153]:
df.shape

(1556, 7)

# Черновик

In [105]:
def get_rates(r):
    # получим доступ к сайту ЦБ
    url_USD = 'https://cbr.ru/currency_base/dynamics/?UniDbQuery.Posted=True&UniDbQuery.so=1&UniDbQuery.mode=1&UniDbQuery.date_req1=&UniDbQuery.date_req2=&UniDbQuery.VAL_NM_RQ={}.From=15.05.2015&UniDbQuery.To=15.05.2023'.format(r)
    otvet_USD = requests.get(url_USD, headers = {'User-Agent': UserAgent().chrome})

    # распарсим страничку в дерево 
    derevo_USD = BeautifulSoup(otvet_USD.content, 'html.parser')

    # найдём нужную часть информации сайта
    sth_USD = derevo.find_all('td')

    # сделаем список с курсом USD
    rates_USD = []
    dates_USD = []

    for i in range(3, len(sth_USD), 3):
        rates_USD.append(sth_USD[i].text)

    for i in range(1, len(sth_USD), 3):    
        dates_USD.append(sth_USD[i].text)
    
rates_USD[:10]

['77,2041',
 '75,8846',
 '76,6929',
 '76,8207',
 '78,6139',
 '79,3071',
 '79,9609',
 '80,5093',
 '81,5601',
 '81,6274']

In [107]:
infa = []
a = ['R01235&UniDbQuery']

for r in a:
    infa.extend(get_rates(r))

TypeError: 'NoneType' object is not iterable